{% include 'lab4_navigation_bar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body style="background-color:#4F6367;", style = "font-family: 'lato', sans-serif">
    <style>
      h1{
        text-align: center;
        color : hsl(76, 57%, 91%);
      }
      th{
        border:2px solid hsl(76, 57%, 91%);
        background-color: hsl(76, 57%, 91%);
        color: #4F6367;
        padding: 10px 10px;
      }
      td {
        color: hsl(76, 57%, 91%);
        padding: 10px 10px;
      }
      .table {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        border-collapse: collapse;
      }
    </style>
    <h1><br>Notes</h1>
    <table class = "table", style= "text-align: left;">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for note in note %}
      <tr>
        <td>{{note.to}} </td>
        <td>{{note.fromnya}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>