{% include 'lab4_navigation_bar.html' %}

<html>
    <head>
        <style>
            .wrap{
              width: 1000px;
              margin: auto;
              margin-top: 100px;
            }
            .card {
              box-shadow: 0 4px 8px 0 hsl(76, 57%, 91%);
              transition: 0.4s all ease-in-out;
              width: 300px;
              border-radius: 5px;
              background: #B8D8D8;
              margin: 10px;
              float: left;
            }
            .card:hover {
              box-shadow: 0 8px 16px 0  hsl(76, 57%, 91%), -0 -8px 16px 0 #fff;
            }
            .container {
              padding: 2px 16px
            }
            h1 {
              margin-top: 5%;
              color :hsl(76, 57%, 91%);
              text-align: center;
            }
            h3 {
                color :#4F6367;
            }
            p {
                color :#13272c;
            }
        </style>
    </head>
    <body style="background-color: #4F6367;">
      <h1>Note Cards</h1>
      <div class="wrap">
          {% for note in note %}
          <div class="card">
            <div class="container">
              <h3><b>From     : {{note.fromnya}}</b></h3> 
              <h3><b>To       : {{note.to}}</b></h3> 
              <h3 style = "color :#13272c;">━━━━━━━━━━━━━</h3>
              <h3><b>Title    : {{note.title}}</b></h3> 
              <h3><b>Message:</b></p> 
              <p>{{note.message}}</p> 
            </div>
          </div>
          {% endfor %}
      </div>
    </body>
</html> 