{% include 'lab4_navigation_bar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>
<style>
    input{
        font-size: 20px;
        background-color: #fff;
        color: #4F6367;
        border: 2px solid #B8D8D8 ;
    }
    form{
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        margin-top: 5%;
        text-align: center;
        color:hsl(76, 57%, 91%);
    }
    .col{
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .col label{
        color:hsl(76, 57%, 91%);
        font-size: 17px;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        color: #4F6367;
        padding: 9px 36px;
        box-shadow: 0 4px 8px 0 hsl(76, 57%, 91%);
        transition: 0.4s all ease-in-out;
        text-align: center;
        display: flex;
        font-size: 17px;
        background-color: #B8D8D8;
        border: 2px grey;
    }
    .button:hover{
        background-color: rgb(255, 255, 255);
        box-shadow: 0 8px 16px 0  hsl(76, 57%, 91%), -0 -8px 16px 0 #fff;
    }
    
</style>
<body style="background-color: #4F6367;" , style = "font-family: 'lato', sans-serif">
    <h1>
        Add Note
    </h1><br>
    <form action="" method="POST"> 
        {% csrf_token %}
        <div class="col">
            <label>From</label>
            <input type="text" placeholder="From" name="to" maxlength="30">
        </div>
        </br>
        <div class="col">
            <label>To</label>
            <input type="text" placeholder="To" name="fromnya" maxlength="30">
        </div>
        </br> 
        <div class="col">
            <label>Title</label> 
            <input type="text" placeholder="Title" name="title" maxlength="30">
        </div>
        </br>
        <div class="col">
            <label>Message</label> 
            <textarea
            style="border-color: #B8D8D8;
            border-width: 2px;
            font-size: 20px;
            font-family: 'lato', sans-serif"
            rows = "8" cols = "23" name = "message" placeholder="Message"></textarea>
        </div>
        </br>
        <div class="col">
            <button class="button" type ="submit" value="Submit">Submit your Note</button>
        </div>
    </form>
</body>
</html>
